/* theme and color palette */
body {
  --color-bg-primary: #f7f2ee;
  --color-bg-secondary: #e8dede;
  --color-text-primary: #342222;
  --color-brand-primary: #803333;
  --color-border: #d5c8c8;

  @media (prefers-color-scheme: dark) {
    --color-bg-primary: #181818;
    --color-bg-secondary: #232323;
    --color-text-primary: #cccccc;
    --color-brand-primary: #ffaa00;
    --color-border: #383838;
  }
}

/* based on lit - a ridiculously small responsive css framework - https://ajusa.github.io/lit/ */
*{box-sizing:border-box}
pre{overflow:auto}
@media(min-width:35em){
  .col{display:table-cell}
  .\31{width:5%}
  .\33{width:22%}
  .\34{width:30%}
  .\35{width:40%}
  .\32{width:15%}
  .\36{width:50%}
  .row{display:table;border-spacing:1em 0}
}
.row,.w-100{width:100%}
.card:focus,hr{outline:0;border:solid #fa0}
.card,pre{padding:1em;border:solid #eee}
.btn:hover,a:hover{opacity:.6}
.c{max-width:60em;padding:1em;margin:auto;font:1em/1.6 nunito}
h6{font:100 1em nunito}
h5{font:100 1.2em nunito}
h4{font:100 1.5em nunito}
h3{font:100 2em nunito}
h2{font:100 2.2em nunito}
h1{font:100 2.5em nunito}
a{color:#fa0;text-decoration:none}
.btn.primary{color:#fff;background:#fa0;border:solid #fa0}
td,th{padding:1em;text-align:left;border-bottom:solid #eee}
.btn{padding:1em;text-transform:uppercase;background:#fff;border:solid;font:.7em nunito}

/* lit utils */
.mt0{margin-top:0}
.mt1{margin-top:.5em}
.mt2{margin-top:1em}
.mt3{margin-top:2em}
.mt4{margin-top:4em}
.mr0{margin-right:0}
.mr1{margin-right:.5em}
.mr2{margin-right:1em}
.mr3{margin-right:2em}
.mr4{margin-right:4em}
.mb0{margin-bottom:0}
.mb1{margin-bottom:.5em}
.mb2{margin-bottom:1em}
.mb3{margin-bottom:2em}
.mb4{margin-bottom:4em}
.ml0{margin-left:0}
.ml1{margin-left:.5em}
.ml2{margin-left:1em}
.ml3{margin-left:2em}
.ml4{margin-left:4em}
.pv0{padding-top:0;padding-bottom:0}
.pv1{padding-top:.5em;padding-bottom:.5em}
.pv2{padding-top:1em;padding-bottom:1em}
.pv3{padding-top:2em;padding-bottom:2em}
.pv4{padding-top:4em;padding-bottom:4em}
.ph0{padding-right:0;padding-left:0}
.ph1{padding-right:.5em;padding-left:.5em}
.ph2{padding-right:1em;padding-left:1em}
.ph3{padding-right:2em;padding-left:2em}
.ph4{padding-right:4em;padding-left:4em}
.gapless{border-spacing:0}
.rounded{border-radius:4px}
.bold{font-weight:700}
.normal{font-weight:400}
.light{font-weight:300}
.dim{opacity:1;transition:opacity .15s ease-in}
.dim:focus,.dim:hover{opacity:.5;transition:opacity .15s ease-in}

/* helper classes */
.block{display: block}
.bordered{border: solid 1px var(--color-border);}
.hide{display: none}
.inline{display: inline-block}
.brand{color: var(--color-brand-primary) !important}
.text-center{text-align: center}
.text-right{text-align: right}
.text-small{font-size: small}

/* lit overrides */
body{background-color: var(--color-bg-primary); color: var(--color-text-primary);}
h1, h2, a{color: var(--color-brand-primary);}
a:hover{text-decoration: underline;}
.col{vertical-align: middle;}
.card:focus, hr{border-color: var(--color-brand-primary);}
form.form{background-color: var(--color-bg-secondary);}
form.form legend{border-bottom: solid 1px var(--color-border);}
label{font-size: small;}
input{line-height: 20px;}
input.card{background-color: var(--color-bg-primary); border-color: var(--color-bg-primary); color: var(--color-text-primary); padding: .25em .5em;}
.btn{background-color: var(--color-bg-secondary); border: solid 2px var(--color-border); color: var(--color-text-primary); padding: .5em 1em;}
.btn.primary{background-color: var(--color-brand-primary); border: solid 2px var(--color-brand-primary); color: var(--color-bg-primary);}
div.timespan.archived{color: var(--color-border);}
div.timespan:hover{border-color: var(--color-brand-primary);}

/* chrome specific */
input[type="time"]::-webkit-calendar-picker-indicator{display: none;}
