/* theme and color palette */
body {
  --color-bg-primary: #f7f2ee;
  --color-bg-secondary: #e7d9cf;
  --color-text-primary: #302218;
  --color-text-secondary: #302218;
  --color-brand-primary: #8c6345;
  --color-border: #d8c1b0;

  @media (prefers-color-scheme: dark) {
    --color-bg-primary: #181818;
    --color-bg-secondary: #232323;
    --color-text-primary: #cccccc;
    --color-text-secondary: #383838;
    --color-brand-primary: #ffaa00;
    --color-border: #383838;
  }
}

/* based on lit - a ridiculously small responsive css framework - https://ajusa.github.io/lit/ */
*{box-sizing:border-box}
pre{overflow:auto}
@media(min-width:35em){
  .col{display:table-cell}
  .\31{width:5%}
  .\33{width:22%}
  .\34{width:30%}
  .\35{width:40%}
  .\32{width:15%}
  .\36{width:50%}
  .row{display:table;border-spacing:1em 0}
}
.row,.w-100{width:100%}
.card:focus,hr{outline:0;border:solid #fa0}
.card,pre{padding:1em;border:solid #eee}
.btn:hover,a:hover{opacity:.6}
.c{max-width:60em;padding:1em;margin:auto;font:1em/1.6 nunito}
h6{font:100 1em nunito}
h5{font:100 1.2em nunito}
h4{font:100 1.5em nunito}
h3{font:100 2em nunito}
h2{font:100 2.2em nunito}
h1{font:100 2.5em nunito}
a{color:#fa0;text-decoration:none}
.btn.primary{color:#fff;background:#fa0;border:solid #fa0}
td,th{padding:1em;text-align:left;border-bottom:solid #eee}
.btn{padding:1em;text-transform:uppercase;background:#fff;border:solid;font:.7em nunito}

/* helper classes */
.block{display: block}
.hide{display: none}
.mb5{margin-bottom: .5em}
.text-center{text-align: center}
.text-small{font-size: small}

/* lit overrides */
body{background-color: var(--color-bg-primary); color: var(--color-text-primary);}
h1, h2, a{color: var(--color-brand-primary)}
a:hover{text-decoration: underline}
label{font-size: small;}
input{line-height: 20px;}
.card:focus, hr{border-color: var(--color-brand-primary)}
form{padding: 1em 0 0 0; background-color: var(--color-bg-secondary); border: solid 1px var(--color-border); border-radius: 5px;}
td,th{padding: .5em; border-bottom-color: var(--color-border);}
td{border-bottom: none;}
tr{background-color: var(--color-bg-secondary); border: solid 1px var(--color-border); border-radius: 5px; margin-bottom: .5em;}
tr:hover{border-color: var(--color-brand-primary);}
tr.checked{color: var(--color-border);}
input.card{padding: .25em .5em; border-color: var(--color-bg-primary); background-color: var(--color-bg-primary); color: var(--color-text-primary);}
input.card:focus{border-color: var(--color-brand-primary);}
