# Byte-compiled / optimized files
__pycache__/
*.pyc

# Flask stuff
instance/
.webassets-cache

# Environments
.venv/
venv/

# Secrets
.env

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Github Actions
.github/workflows/

# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
