# Byte-compiled / optimized files
__pycache__/
*.pyc

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Flask stuff
instance/
.webassets-cache

# Environments
venv/

# Visual Studio
.vscode/
