<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timebook</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/x-icon">
</head>
<body>
    <div class="c">
        <div class="row" id="navbar">
            <h1 class="text-center bold"><a href="{{ url_for('web_app.index') }}"><strong>Timebook</strong></a></h1>
        </div>
        {% block content %} {% endblock %}
        <hr>
        <div class="row mb2" id="footer">
            <div class="col 8">
                <p class="text-small">
                    <span>built with &hearts; using Flask</span>
                    &middot;
                    <a href="{{ url_for('web_app.report') }}">show report</a>
                    &middot;
                    <a href="https://github.com/fabiomix/timebook" target="_blank" rel="noopener">github</a>
                </p>
            </div>
            <div class="col 4">
                {% if search_date is defined %}
                <form class="text-right" action="{{ url_for('web_app.index') }}" method="get">
                    <input type="date" id="search_date" class="card" name="search_date" value="{{ search_date }}" required>
                    <button type="submit" class="btn rounded">Go</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.toggle-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();  // Prevent default link behavior (navigation)
                var csrf_token = "{{ csrf_token() }}";
                fetch(this.getAttribute('href'), {
                    method: 'POST',
                    headers: {'X-Requested-With': 'XMLHttpRequest', 'X-CSRFToken': csrf_token}
                })
                .then(response => {
                    if (!response.ok) {
                        console.error('Request failed with status:', response.status);
                    }
                })
                .then(updatedData => {
                    const row = this.closest('div.timespan');
                    if (row.classList.contains('archived')) {
                        row.classList.remove('archived');
                        row.classList.add('active');
                        this.textContent = 'archive';
                    } else {
                        row.classList.add('archived');
                        row.classList.remove('active');
                        this.textContent = 'restore';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>
