<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timebook</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/x-icon">
</head>
<body>
    <div class="c">
        <div class="row" id="navbar">
            <h1 class="text-center"><a href="{{ url_for('timesheet_app.index') }}">Timebook</a></h1>
        </div>
        {% block content %} {% endblock %}
        <hr>
        <div class="row" id="footer">
            <p class="text-small">
                <span>built with &hearts; using Flask</span>
                &middot;
                <a href="{{ url_for('timesheet_app.report') }}">show report</a>
                &middot;
                <a href="https://github.com/fabiomix/timebook" target="_blank" rel="noopener">github</a>
            </p>
        </div>
    </div>
    <script>
        document.querySelectorAll('.toggle-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();  // Prevent default link behavior (navigation)
                fetch(this.getAttribute('href'), {
                    method: 'POST',
                })
                .then(response => {
                    if (!response.ok) {
                        console.error('Request failed with status:', response.status);
                    }
                })
                .then(updatedData => {
                    const row = this.closest('tr.row');
                    if (row.classList.contains('checked')) {
                        row.classList.remove('checked');
                        this.textContent = 'archive';
                    } else {
                        row.classList.add('checked');
                        this.textContent = 'restore';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>
