{% extends 'base.html' %}

{% block content %}
<div class="row">
    <form class="w-100 mb5" method="post">
        <div class="row"><legend>Edit timesheet</legend></div>
        <div class="row">
            <div class="col">
                <label for="description" class="text-small">Description</label>
                <input type="text" class="card w-100" name="description" placeholder="lorem ipsum" value="{{record.description}}" required/>
            </div>
        </div>
        <div class="row">
            <div class="col 3">
                <label for="start_time" class="text-small">Start time</label>
                <input type="time" class="card w-100" name="start_time" value="{{record.start_time.isoformat(timespec='minutes')}}" required/>
            </div>
            <div class="col 3">
                <label for="end_time" class="text-small">End time</label>
                <input type="time" class="card w-100" name="end_time" value="{{record.end_time.isoformat(timespec='minutes')}}" required/>
            </div>
            <div class="col 3">
                <label for="search_date" class="text-small">Date</label>
                <input type="date" class="card w-100" name="search_date" value="{{record.start_at.date()}}" required/>
            </div>
            <div class="col 3">
                <!-- <label for="is_archived" class="text-small">Archived</label> -->
                <!-- <input type="checkbox" class="card w-100" name="is_archived" value="" required/> -->
            </div>
        </div>
        <!-- https://stackoverflow.com/questions/477691/submitting-a-form-by-pressing-enter-without-a-submit-button -->
        <button type="submit" style="visibility: hidden; height: 0;">Submit</button>
    </form>
</div>
{% endblock %}
