{% extends 'base.html' %}

{% block content %}
<div class="row">
    <form class="w-100 mb5" method="post">
        <div class="row"><legend>Edit timesheet</legend></div>
        <div class="row">
            <div class="col">
                <label for="description" class="text-small">Description</label>
                <input type="text" class="card w-100" name="description" placeholder="lorem ipsum" value="{{record.description}}" required/>
            </div>
        </div>
        <div class="row">
            <div class="col 3">
                <label for="end_time" class="text-small">End time</label>
                <input type="time" class="card w-100" name="end_time" value="{{record.float_time_to_time(record.end_time)}}" required/>
            </div>
            <div class="col 3">
                <label for="duration" class="text-small">Duration</label>
                <input type="time" class="card w-100" name="duration" value="{{record.float_time_to_time(record.duration)}}" required/>
            </div>
            <div class="col 3">
                <label for="day" class="text-small">Day</label>
                <input type="date" class="card w-100" name="day" value="{{record.day}}" required/>
            </div>
            <div class="col 3">
                <!-- <label for="is_checked" class="text-small">Archived</label> -->
                <!-- <input type="checkbox" class="card w-100" name="is_checked" value="" required/> -->
            </div>
        </div>
        <!-- https://stackoverflow.com/questions/477691/submitting-a-form-by-pressing-enter-without-a-submit-button -->
        <button type="submit" style="visibility: hidden; height: 0;">Submit</button>
    </form>
</div>
{% endblock %}
