{% extends 'base.html' %}

{% block content %}
<div class="create_section mb4">
    <form id="create_form" class="form bordered rounded" method="post" action="{{ url_for('web_app.edit', time_id=record.id) }}">
        <div class="form-header pv2">
            <div class="row">
                <legend class="bold">Edit timespan</legend>
            </div>
        </div>
        <div class="form-body pv1">
            <div class="row mb1">
                <div class="col 4">{{ form.description.label }}</div>
                <div class="col 8">{{ form.description(class_="card w-100") }}</div>
            </div>
            <div class="row mb1">
                <div class="col 4">{{ form.search_date.label }}</div>
                <div class="col 8">
                    {{ form.search_date(class_="card col 4 mr1") }}
                    {{ form.start_time(class_="card col 4 mr1") }}
                    {{ form.end_time(class_="card col 4 mr0") }}
                </div>
            </div>
            <div class="row mb1">
                <div class="col 4">{{ form.is_archived.label }}</div>
                <div class="col 8">{{ form.is_archived() }}</div>
            </div>
            <div class="row mb1">
                <div class="col 4"><label for="">Created at</label></div>
                <div class="col 8">{{ record.created_at|datetimeformat('long') }}</div>
            </div>
            <div class="row mb1">
                <div class="col 4"><label for="">Updated at</label></div>
                <div class="col 8">{{ record.updated_at|datetimeformat('long') }}</div>
            </div>
        </div>
        <div class="form-footer pv2">
            <div class="row">
                <div class="col 4">
                    {{ form.submit(class_="btn primary rounded") }}
                    <a href="{{ url_for('web_app.index', search_date=record.search_date) }}" class="btn rounded">Go back</a>
                </div>
                <div class="col 4">
                    {{ form.csrf_token }}
                </div>
                <div class="col 4 text-right">
                    <a href="{{ url_for('web_app.delete', time_id=record.id) }}" class="btn rounded">Delete this record</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
