{% extends 'base.html' %}

{% block content %}
<div id="create_section">
    <form id="create_form" class="form bordered rounded" method="post" action="{{ url_for('web_app.index') }}">
        <div class="form-body pv2" style="padding-top: .5em;">
            <div class="row">
                <div class="col 6">
                    {{ form.description.label(class="text-small") }}
                    {{ form.description(class_="card w-100", placeholder="lorem ipsum") }}
                </div>
                <div class="col 3">
                    {{ form.start_time.label(class="text-small") }}
                    {{ form.start_time(class_="card w-100") }}
                </div>
                <div class="col 3">
                    {{ form.end_time.label(class="text-small") }}
                    {{ form.end_time(class_="card w-100") }}
                </div>
            </div>
            <div class="row">
                <!-- https://stackoverflow.com/questions/477691/submitting-a-form-by-pressing-enter-without-a-submit-button -->
                {{ form.csrf_token }}
                {{ form.search_date(value=search_date, type="hidden") }}
                {{ form.submit(class_="hide") }}
            </div>
        </div>
    </form>
</div>
<div id="main">
    <h3 class="text-center"><a href="{{ url_for('web_app.index', search_date=search_date) }}">{{ search_date|dateformat('full') }}</a></h3>
    {% for t in lines %}
    <div class="row timespan bordered rounded pv1 mb1 {{ 'archived' if t.is_archived else 'active' }}">
        <div class="col">{{ t.description }}</div>
        <div class="col 3 text-center text-small">
            <span class="block">{{ t.duration|format_timedelta() }} from</span>
            <span class="block">{{ t.start_time|timeformat('short') }} to {{ t.end_time|timeformat('short') }}</span>
        </div>
        <div class="col 1 text-center text-small">
            <a class="bold block" href="{{ url_for('web_app.edit', time_id=t.id)}}">edit</a>
            <a class="bold block toggle-link" href="{{ url_for('web_app.toggle_checked', time_id=t.id)}}">{{ 'restore' if t.is_archived else 'archive'}}</a>
        </div>
    </div>
    {% endfor %}
    <h4 class="text-center">Total {{ total_time|format_timedelta(force_full=True) }}</h4>
</div>
{% endblock %}
