{% extends 'base.html' %}

{% block content %}
<form class="pure-form pure-form-stacked" method="post">
    <fieldset>
        <legend>Add new timesheet</legend>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-2">
                <label for="description">Description</label>
                <input class="pure-u-23-24" type="text" name="description" placeholder="sviluppo ticket #012345" value="" required></input>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
                <label for="end_time">When</label>
                <input class="pure-u-23-24" type="time" name="end_time" value="" required></input>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
                <label for="duration">Duration</label>
                <input class="pure-u-23-24" type="time" name="duration" value="" required></input>
            </div>
        </div>
        <button type="submit" class="pure-button pure-button-primary" style="visibility: hidden; height: 0;">Submit</button>
    </fieldset>
</form>

<h2 class="from_date">{{ from_date }}</h2>
<table class="pure-table pure-table-horizontal" style="width: 100%;">
    <tbody>
        {% for t in lines %}
        <tr class="{{ 'secondary' if t.is_checked else '' }}">
            <td style="width: 60%;">{{ t.description }}</td>
            <td style="width: 10%; text-align: center;">{{ t.float_time_to_time(t.get_start_time()) }} <br> {{ t.float_time_to_time(t.end_time) }}</td>
            <td style="width: 10%; text-align: center;">{{ t.float_time_to_time(t.duration) }}</td>
            <td style="width: 20%; text-align: center; font-size: small;">
                <a href="{{ url_for('timesheet_app.read_timesheet', time_id=t.id)}}">edit</a>
                &middot;
                <a href="{{ url_for('timesheet_app.toggle_checked', time_id=t.id)}}">{{ 'restore' if t.is_checked else 'checked'}}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="from_date"> Totale {{ total_time }} ore</h2>

{% endblock %}
