{% extends 'base.html' %}

{% block content %}
<div class="row" id="timeform">
    <form method="post" action="{{ url_for('timesheet_app.create_timesheet') }}">
        <div class="row"><legend>Add new timesheet</legend></div>
        <div class="row">
            <div class="col 6">
                <label for="description" class="text-small">Description</label>
                <input type="text" class="card w-100" name="description" placeholder="lorem ipsum" value="" required/>
            </div>
            <div class="col 3">
                <label for="start_time" class="text-small">Start time</label>
                <input type="time" class="card w-100" name="start_time" value="" required/>
            </div>
            <div class="col 3">
                <label for="end_time" class="text-small">End time</label>
                <input type="time" class="card w-100" name="end_time" value="" required/>
            </div>
        </div>
        <!-- https://stackoverflow.com/questions/477691/submitting-a-form-by-pressing-enter-without-a-submit-button -->
        <button type="submit" style="visibility: hidden; height: 0;">Submit</button>
        <input type="hidden" name="search_date" value="{{ search_date }}"/>
    </form>
</div>
<div class="row" id="timetable">
    <h3 class="text-center"><a href="{{ url_for('timesheet_app.index', search_date=search_date) }}">{{ search_date|dateformat('full') }}</a></h3>
    <table class="w-100">
        <tbody>
            {% for t in lines %}
            <tr class="row {{ 'checked' if t.is_archived else '' }}">
                <td class="col">{{ t.description }}</td>
                <td class="col 2 text-center text-small">
                    <span class="block">{{ t.duration|format_timedelta() }} from</span>
                    <span class="block">{{ t.start_time|timeformat('short') }} to {{ t.end_time|timeformat('short') }}</span>
                </td>
                <td class="col 2 text-center text-small">
                    <a class="block" href="{{ url_for('timesheet_app.read_timesheet', time_id=t.id)}}">edit</a>
                    <a class="block toggle-link" href="{{ url_for('timesheet_app.toggle_checked', time_id=t.id)}}">{{ 'restore' if t.is_archived else 'archive'}}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 class="text-center">Total {{ total_time|format_timedelta(force_full=True) }}</h4>
</div>
{% endblock %}
