{% extends 'base.html' %}

{% block content %}
<div id="report_section">
    {% for time_key in time_groups %}
    <div class="report_group">
        <h3 class="text-center"><a href="{{ url_for('web_app.index', search_date=time_key) }}">{{ time_key|dateformat('full') }}</a></h3>
        {% for t in time_groups[time_key] %}
        <div class="row timespan bordered rounded pv1 mb1 {{ 'archived' if t.is_archived else 'active' }}">
            <div class="col">{{ t.description }}</div>
            <div class="col 3 text-center text-small">
                <span class="block">{{ t.duration|format_timedelta() }} from</span>
                <span class="block">{{ t.start_time|timeformat('short') }} to {{ t.end_time|timeformat('short') }}</span>
            </div>
            <div class="col 1 text-center text-small">
                <a class="bold block" href="{{ url_for('web_app.edit', time_id=t.id)}}">edit</a>
                <a class="bold block toggle-link" href="{{ url_for('web_app.toggle_checked', time_id=t.id)}}">{{ 'restore' if t.is_archived else 'archive'}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}
